The dataset is a collection of almost 1000 songs that have the most plays on spoitify. It has 24 columns per row including some interesting less quantifiable columns such as "Dancibility%". I want to use of some these more odd columns to see if I can make other predictions about the songs themselves. By using these columns and a mix of other more quantifiable columns such as BPM, Key, and number of playlists the song has been added too I want to try and predict how many plays a song has.

In [16]:
#we start with loading and cleaning the data
import pandas as pd

#encoding had to be changed to handle characters in the data not in default UTF-8 encoding
spotify_df = pd.read_csv('spotify-2023.csv', encoding='latin-1')
print("Shape before cleaning data: ", spotify_df.shape)
spotify_df = spotify_df.dropna()
spotify_df = spotify_df.drop_duplicates()
spotify_df = spotify_df[['streams', 'in_spotify_playlists', 'in_shazam_charts', 'in_apple_playlists', 'bpm', 'key', 'danceability_%', 'valence_%', 'energy_%', 'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%']]
print("Shape after cleaning data: ", spotify_df.shape)

#We now want to transform categorical variables into numeric
spotify_df['key'] = spotify_df['key'].map({'C': 0, 'C#': 1, 'D': 2, 'D#': 3, 'E': 4, 'F': 5, 'F#': 6, 'G': 7, 'G#': 8, 'A': 9, 'A#': 10, 'B': 11})
spotify_df.head()

Shape before cleaning data:  (953, 24)
Shape after cleaning data:  (817, 13)

,streams,in_spotify_playlists,in_shazam_charts,in_apple_playlists,bpm,key,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,141381703,553,826,43,125,11,80,89,83,31,0,8,4
1,133716286,1474,382,48,92,1,71,61,74,7,0,10,4
2,140003974,1397,949,94,138,5,51,32,53,17,0,31,6
3,800840817,7858,548,116,170,9,55,58,72,11,0,11,15
4,303236322,3133,425,84,144,9,65,23,80,14,63,11,6